<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>VIEW</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
    <center>
        <h1>LOKASI HILING</h1>
        <hr/>
        <h1>
    <l th:text="${paketa}"></l>
    <br/><br/>
    <l th:text="${paketb}"></l>
    <br/><br/>
    </h1>
    <img th:src="${paketc}">
    </center>
    </body>
</html

